@media (max-width: 767px){
	.carousel .row .span3 {
	display: block;
	float: left;
	width: 25%;
	margin-left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
}

body {
  /*background: url(assets/img/cover.jpg) no-repeat center center fixed;*/
  
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(http://localhost:8000/assets/img/cover.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF !important;

}

.bold {
  font-weight: bold;
}
.container{
  background: #000000;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 5%;
}
.navbar-inverse{
  background-color: #181818 !important;
}
.thumbnail-light{
  background:rgba(255, 255, 255, 0.6) !important; 
  color:#000;
}
.thumbnail-dark{
  background: rgba(0, 0, 0, 0.6) !important;
  color: #FFF;
}
.carousel{
  padding-bottom: 5%;
}
.carousel-control {
  height: 100%;
  margin-top: 0px;
  border-radius: 0;
  border: 0;
  top: auto;
  bottom: 15px;
  text-align: center;
}
.carousel-indicators{
  bottom: 0;
}
.alias {
  margin-top: 100%;
  bottom: 50%;
  margin-left: 2.5%;
}
.page-header h2 {
    display: inline-block;
    margin: 0 0 0px 0;       
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }
.poster{
  width: 250px;
  height: 350px;
  cursor: pointer;
}

