@media (max-width: 767px){
	.carousel .row .span3 {
	display: block;
	float: left;
	width: 25%;
	margin-left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
}
body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/assets/img/cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
}
::selection {
  background-color: #F4645F;
  color: white;
} 
#welcome{
  top: 15%;
}
#welcome .modal-dialog {
  border: 15px solid transparent;  
  -webkit-border-image: url("/assets/img/welcome.png") 30 round; /* Safari 3.1-5 */
  -o-border-image: url("/assets/img/welcome.png") 30 round; /* Opera 11-12.1 */
  border-image: url("/assets/img/welcome.png") 30 round;
}
#welcome .modal-header {
  border-bottom-color: #F4645F;
}
.bold {
  font-weight: bold;
}
.container {
  background: #000000;
  background: rgba(0, 0, 0, 0.82);
  margin-top: 4.5%;
}
.caption p {
  width: 100%;
  min-height: 18%;
  height: 18% !important;  
  overflow: auto;
}
.thumbnail {
  border-color: #F4645F;
}
.thumbnail-light{
  background:rgba(255, 255, 255, 0.9) !important;   
}
.thumbnail-light .caption{
  color:#000;
}
.thumbnail img {
  width: 200px;
  height: 250px;
  cursor: pointer;

  border: 5px solid #ddd;
  padding: 5px; /*Inner border size*/
  background: #fff; /*Inner border color*/
}
.fa {
  color: #F4645F;
}
.carousel{
  padding-bottom: 2%;
}
.carousel-control {
  height: 100%;
  margin-top: 0px;
  border-radius: 0;
  border: 0;
  top: auto;
  bottom: 15px;
  text-align: center;
}
.carousel-indicators{
  bottom: 0;
  pointer-events:none;
  opacity:0.8;
}
/*.carousel-indicators li{
  border-color: #F4645F;
}*/
.carousel-indicators .active{
  background-color: #F4645F;
}
.alias {
  margin-top: 100%;
  bottom: 50%;
  margin-left: 15%;
}
.star {
  width: 15%;
  max-height: 15%;
}
.page-header {
  border-bottom-color: #F4645F;
}
.page-header, .caption h3, #welcome { 
  margin-top: 15px; 
  text-align: center;
  font-family: "Lucida Sans Typewriter", Monaco, monospace;
}
.page-header h2{
    display: inline-block;
    margin: 0 0 0px 0;    
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

.modal-dialog {
  color: #000;
}
.rank-poster {
  width: 60px;
  height: 60px;  
  display: inline;

  padding: 4px; /* define a espessura da moldura */
  margin-right: 10px;
  border: 2px solid #ffffff; /* define a espessura da borda e cor */
  border-radius: 30%; /* define o raio da borda */

  /* coloca a sombra */
  box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.3);
  
}
td h4 {
  display: inline;
}
td, th {
  color: #000;
}
.btn_vote {
  display: none;
}
.vote:hover .btn_vote {
  display: block;
}
/* #F4645F */